<template name="register">
    <div class="container well" style="width: 65%;margin-top: 100px;">
        <form class="form-horizontal">
            <label>
                <span class="h2">实名注册</span>
                <span class="text-danger"><a href="http://user.qzone.qq.com/415690116/infocenter?ptsig=fLxVeFf8d*jPci5vt*-*nSOwCpT55W-GCv8i*aewyaw_">无法注册请联系管理员kuo zi</a></span>
            </label>
            <hr>
            <div class="row">
                <div class="col-xs-2">
                    <label class="pull-right">真实姓名:</label>
                </div>
                <div class="col-xs-8">
                    <input id="name" class="form-control" type="text"/>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-xs-2">
                    <label class="pull-right">密码:</label>
                </div>
                <div class="col-xs-8">
                    <input id="pwd" class="form-control" type="password"/>
                </div>
            </div>
            <br>

            <div class="col-xs-offset-5">
                <button id="register" class="btn btn-info">注册</button>
                <a class="pull-right" href="/login">已有账号,直接登录...</a>
            </div>
        </form>
    </div>
</template>
